# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# IDE / Editor
.idea/
.vscode/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Project-specific config
# IMPORTANT: This file contains sensitive information and should not be committed.
server/config.py
database/game_results.db
database/test_game_results.db
